.home h1 {
    text-align: center;
}

.home h2 {
    margin-left: 10px;
}

.manual-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

.manual-card h3 {
    margin-top: 0;
}

.manual-card a {
    color: #1e90ff;
    text-decoration: none;
}

.manual-card a:hover {
    text-decoration: underline;
}

.manual-card p {
    text-align: start;
}